<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matric No generator</title>
</head>
<body>
    <h3>Grad School Virtual Classroom</h3>
    <h6>Hello {{name}}</h6>
    <p><h5>Welcome <span style="color:blue;">{{company}}</span>  </h5></p>
    <p>We received your request to get started with <span style="color:blue;"><h6>{{company}}</h6></span> To continue this registration use your Matric number to Sign in</p>
    <p><span style="color:blue;">{{matricNo}}</span> is your matric number,<span style="color:blue;">{{password}}<span style="color:red;"> IS YOUR PASSWORD DO NOT DISCLOSE YOUR PASSWORD TO ANYONE</span> </span>  </p>
    <br>
    <br>

    <p style="color:red;">
    If this request was not made by you. You are free to ignore this mail.
  </p>
    
</body>
</html>